.projects {
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  overflow: auto;
}
.project-each {
  width: 100%;
  height: max-content;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.project-heading {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-family: lato;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 5px 0;
  border-bottom: 1px solid black;
}
.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5px;
  width: 100%;
}
.detail-head {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.desc-title {
  display: flex;
  flex: 0 0 auto;
  padding: 5px;
}
.value {
  padding: 5px;
  text-align: right;
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
.projects a {
  text-decoration: underline;
}
a:active,
a:visited {
  color: white;
}
