.Skillset {
  /* box-sizing: border-box; */
  width: 100%;
  color: white;
  /* height: 100%; */
  /* flex: 0 0 auto; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  /* flex: 0 0 auto; */
  overflow: auto;
}
.domain {
  /* height: auto; */
  width: 100%;
  height: max-content;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.domain-title {
  font-family: lato;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 5px 0;
  border-bottom: 1px solid black;
}
.domainstack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 5px;
}
.skill {
  min-width: 33%;
  font-family: open sans;
}
@media only screen and (max-width: 600px) {
  .skill {
    width: 100%;
  }
}
